<div class="container">
  <h1>Great app</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam, fugit, voluptas sint beatae nisi tempora. Eum voluptas natus sunt sit quae explicabo, assumenda, aliquid. Repellat nesciunt doloremque iure ad?</p>

  <%= link_to 'Create flat', '#', class: 'btn btn-primary' %>
</div>
